.card-body {
    background-color: #212529 !important;
    color: white !important;
}
.btn-pdbu {
    min-width: 200px;
}
#flashcard-soluzione {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}